---
permalink: /404.html
layout: wrapper
---

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img class="img-fluid mt-5" src="./assets/img/404.png" alt="Ağca Metal | Sayfa Bulunamadı">
      <h1 class="m-4">¯\_(ツ)_/¯</h1>
      <h3 class="font-weight-600">Ulaşmaya çalıştığınız sayfa bulunamadı.</h3>

      <a href="./" class="btn btn-warning m-3">
        Ana Sayfaya Git
      </a>
    </div>
  </div>
</div>