<div class="banner">
    <div class="banner-img1"></div>
    <div class="banner-text">
        <h2>Ücretsiz teklif al</h2>
        <div class="hr"></div>
        <p>
            Ücretsiz keşif ve teklif hizmetimizden hemen şimdi sizde faydalanmak istiyorsanız iletişime geçiniz.
        </p>

        <div class="banner-footer">
            <a href="tel:{{site.phone}}" class="btn btn-warning">
                <i class="fa fa-phone mr-1"></i>
                İletişime Geç
            </a>
            <a href="https://api.whatsapp.com/send?phone=+9{{site.phone}}&text=Merhaba, ücretsiz keşif ve teklif hizmetinizden faydalanmak istiyorum"
                class="btn btn-warning">
                <i class="fa fa-comments-o mr-1"></i>
                Mesaj At
            </a>
            <a href="mailto:{{site.email}}?subject=Ücretsiz teklif ve keşif&body=Merhaba, ücretsiz keşif ve teklif hizmetinizden faydalanmak istiyorum"
                class="btn btn-warning">
                <i class="fa fa-envelope mr-1"></i>
                Mail Gönder
            </a>
        </div>
    </div>
</div>