<!-- contact -->
<div class="contact">
    <div class="title">
        <h3>Bize Ulaşın</h3>
        <p></p>
        <div class="hr m-auto"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="contact-item">
                    <i class="fa fa-phone icon"></i>
                    <h4>Telefon</h4>
                    <p>{{site.phoneLink}}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-item">
                    <i class="fa fa-map-marker icon"></i>
                    <h4>Adres</h4>
                    <p class="m-0">{{site.address}}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-item">
                    <i class="fa fa-envelope icon"></i>
                    <h4>E-Posta</h4>
                    <p>{{site.emailLink}}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-item">
                    <i class="fa fa-clock-o icon"></i>
                    <h4>Çalışma Saatleri</h4>
                    <p>{{site.workingHours}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-item">
                    <a href="/">
                        <div class="logo">
                            <img src="/assets/img/logo/logo-white.png" alt="{{site.imgAlt}}">
                        </div>
                    </a>
                    <div class="footer-social">
                        <h6 class="social-title">Bizi takip edin</h6>
                        <div class="social">
                            <a href="{{site.facebook}}">
                                <i class='fa fa-facebook-f'></i>
                            </a>
                            <a href="{{site.instagram}}">
                                <i class='fa fa-instagram'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="footer-item">
                    <h5>Hızlı Menü</h5>
                    <div class="menu-items">
                        {% for menu in site.data.menu %}
                        <a href="{{menu.url}}">{{menu.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="footer-item">
                    <h5>Bizimle iletişime geçiniz</h5>
                    <div class="d-flex align-items-center mb-3">
                        <i class="fa fa-map-marker footer-contact-icon"></i>
                        <div class="ml-3">
                            <p class="m-0">{{site.address}}</p>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mb-3">
                        <i class="fa fa-envelope footer-contact-icon"></i>
                        <p class="m-0 ml-3">{{site.emailLink}}</p>
                    </div>

                    <div class="d-flex align-items-center">
                        <i class="fa fa-phone footer-contact-icon"></i>
                        <p class="m-0 ml-3">{{site.phoneLink}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-text">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <p>
                        {{site.copyright}}
                    </p>
                </div>

                <div class="col-4 text-right">
                    <p>{{site.author}}</p>
                </div>
            </div>
        </div>
    </div>
</div>