<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Ağca metal çelik demir doğrama metal tasarım işleri" />
<meta name="keywords"
    content="Metal, demir doğrama, çelik, asma tavan, metal asma tavan, duşakabin, pergole sistemleri, katlanır cam, konferans salonu, tente, çardak, kamelya, şeffaf branda, branda, metal tasarım, kamalya, ağca metal, kaynak, kaynakcı, ferforje, metal asma tavan, linear tavan, akustik, akustikses, izasyon, proje, tasarım, çatı" />
<meta name="author" content="Yasin Ağca" />

<link rel="shortcut icon" href="/assets/img/logo/shortcut-icon.png"
    title="{{site.title}} {% if page.title %} | {{page.title}} {% endif %} {% if page.title %} - {{page.description}} {% endif %}" />

<title>{{site.title}} {% if page.title %} | {{page.title}} {% endif %} {% if page.title %} - {{page.description}}
    {% endif %}</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Custom css -->
<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/media.css">

{% for style in page.styles %}
<link rel="stylesheet" href="/assets/css/{{style.name}}.css">
{% endfor %}
<!-- font -->
<!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext"
    rel="stylesheet"> -->
<link rel="stylesheet" href="/assets/font/font.css">

<!-- Custom js -->
<script src="/assets/js/layout.js"></script>

{% if page.layout == 'service-detail' %}
<script src="/assets/js/img-show.js"></script>
{% endif %}

<!-- lazy load -->
{% if page.layout != 'about' || page.layout != 'contact' %}
<script src="/assets/js/jquery.lazyload.js"></script>
<script>
    $(function () {
        $(".lazy").css('background-image', 'url(/assets/img/img-loading.jpg)');

        $(".lazy").lazyload({
            effect: "fadeIn"
        });
    });
</script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7RNJGYGBX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-S7RNJGYGBX');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-223362762-1">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-223362762-1');
    gtag('config', 'AW-356909329');
    gtag('config', 'AW-356909329/vOI9CKUFEJGCmKoB', {
        'phone_conversion_number': '0541 824 33 58'
    });
</script>