{% assign current = 'logo-black' %}
{% if page.layout == 'home' %}
{% assign current = 'logo-white' %}
{% endif %}

<div class="fixed-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <a class="navbar-brand" href="/">
                        <div class="logo">
                            <img src="/assets/img/logo/{{current}}.png" id="logo"
                                alt="{{site.imgAlt}}">
                        </div>
                    </a>
                    <button class="navbar-toggler" onclick="menuToggle()">
                        Menü
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            {% for menu in site.data.menu %}
                            <li class="nav-item">
                                <a class="nav-link {% if menu.page == page.page %} active {% endif %}"
                                    href="{{menu.url}}">{{menu.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Menu -->

<div class="menu-container" id="mobile-menu">
    <button class="btn menu-close" onclick="menuToggle()">
        &times;
    </button>

    <div class="menu">
        <ul class="navbar-nav">
            {% for menu in site.data.menu %}
            <li class="nav-item">
                <a class="nav-link {% if menu.page == page.page %} active {% endif %}"
                    href="{{menu.url}}">{{menu.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>