.about {
  margin: 70px 0;
}

.about .title {
  text-align: center;
  margin-bottom: 50px;
}

.text-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.text-container img {
  width: 600px;
  filter: brightness(0.8);
  border-radius: 5px;
  position: relative;
  z-index: -1;
  transition: 0.2s linear;
}

.text-container .text-card {
  padding: 45px 30px;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  position: relative;
  background: #ffffffeb;
  border-radius: 5px;
  transition: .2s linear;
  width: 100%;
}

.text-container .text-card.left {
  left: -50px;
}

.text-container .text-card.right {
  right: -50px;
}

.text-container .text-card h3 {
  margin-bottom: 25px;
}
