.contact {
  margin: 70px 0;
}

.contact .title {
  text-align: center;
  margin-bottom: 50px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info .info-item {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 25px;
}

.contact-info .info-item p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.contact-info .info-item p:last-child {
  margin-bottom: 25px;
}

.contact-info .info-item i {
  color: #fd7e14;
  margin-right: 10px;
}

.contact-info .info-item .info-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact .card {
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  padding: 10px;
}
