.bg-slider {
  background-image: url(../img/background.jpg);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px;
}

.bg-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: #00000021;
}

.slider-content {
  margin-top: 15rem;
  color: white;
  max-width: 50%;
  transition: 0.4s;
}

.slider-content p {
  font-size: 20px;
}

.logo .logo-text {
  color: white;
}

.scrolled .navbar-dark .navbar-nav .nav-link {
  color: black !important;
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 40px 15px;
  z-index: 2;
  left: 0;
}

.scrolled .navbar {
  padding: 0 15px !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.877);
  border-color: rgba(255, 255, 255, 0.507);
}

.nav-link.active,
.nav-link:hover {
  color: rgba(255, 255, 255, 0.932) !important;
}

/* about */

.about {
  margin: 50px 0;
}

.about .title {
  text-align: center;
  margin-bottom: 70px;
}

/* slider contact */

.slider-contact {
  margin-top: -100px;
}

.slider-contact .card {
  text-align: center;
  box-shadow: 0 5px 20px #00000017;
  border: none;
  height: 100%;
}

.slider-contact .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-contact .contact-icon {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fd7e14;
}
