*,
body,
html {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.splash-img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999999;
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-img img {
  width: 250px;
}

.hr {
  width: 100px;
  height: 3px;
  background: #fd7e14;
  margin: 15px 0;
}

.font-weight-600 {
  font-weight: 600 !important;
}

/* logo start */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 230px;
  margin-right: 10px;
}

.logo .logo-text {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  transition: 0.2s linear;
}

.logo .logo-text h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.scrolled .logo .logo-text {
  color: black !important;
}

/* navbar */
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s linear;
  z-index: 9999;
  width: 100%;
}

.scrolled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  background: white;
  width: 100%;
  transition: 0.2s;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
}

.scrolled .logo img {
  margin-top: 10px;
}

.scrolled .navbar {
  padding: 0 !important;
}

.navbar {
  padding: 20px 0;
  transition: 0.2s linear;
}

.scrolled .navbar .navbar-toggler {
  color: #000;
  border-color: #f2f2f2;
}

.navbar .navbar-toggler {
  padding: 1rem 0.75rem;
  font-size: 1rem;
  color: #000;
  border-color: #f2f2f2;
}

.navbar-dark .navbar-nav .nav-link {
  color: black !important;
  transition: 0.2s linear;
  border-bottom: 2px solid;
  border-color: transparent;
  margin-left: 10px;
}

.nav-link.active,
.nav-link:hover {
  color: black;
  border-color: #fd7e14 !important;
}

/* what-we-do */

.what-we-do {
  margin: 50px 0;
  padding: 50px 0;
  background: #f8f9f9;
}

.what-we-do .title {
  text-align: center;
  margin-bottom: 70px;
}

.what-we-do-item {
  text-align: center;
  margin-bottom: 30px;
}

.what-we-do-item .img {
  margin-bottom: 15px;
  width: 90px;
}

.what-we-do-item .header {
  margin: 15px 0;
}

/* social */

.social {
  margin-top: 30px;
}

.social a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-right: 15px;
}

.social a:hover {
  color: #fd7e14 !important;
}

/* footer */

.contact {
  margin: 70px 0;
}

.contact .title {
  text-align: center;
  margin-bottom: 30px;
}

.contact .contact-item {
  text-align: center;
  margin: 25px 0;
}

.contact .contact-item .icon {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fd7e14;
}

.footer {
  background: #2d2d2d;
  color: #e5e4e4;
  padding: 80px 0 0;
}

.footer .logo-text {
  color: #e5e4e4 !important;
}

.footer .footer-item p,
.footer .footer-item a {
  color: #adadad;
}

.footer .footer-item h5 {
  margin-bottom: 20px;
}

.footer .footer-social {
  margin-top: 50px;
}

.footer .footer-social .social {
  margin-top: 10px;
}

.footer .footer-social .social a {
  color: #adadad;
}

.footer .footer-social .social-title {
  margin: 5px;
}

.footer .footer-item .menu-items a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
}

.footer .footer-item .menu-items a:hover {
  color: #fd7e14;
}

.footer-contact-icon {
  min-width: 15px;
  text-align: center;
}

.footer-text {
  background: #252525;
  margin-top: 100px;
}

.footer-text p {
  margin: 0;
  padding: 15px 0;
  font-size: 13px;
  color: #adadad;
}

/* Page Title */

.page-title {
  background: #f2f2f2;
  padding: 60px 0;
  text-align: center;
}

.page-title h2 {
  font-weight: 600;
}

.page-title p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.btn-up {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: #fd7e14;
  border-color: #fd7e14;
  color: white;
  font-size: 22px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
}

.btn-up:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 230, 0, 0.25);
}

/* banner */

.banner {
  height: 350px;
  margin: 50px 0;
  position: relative;
  background: #424242;
}

.banner .banner-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  color: white;
  max-width: 700px;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.banner .banner-img {
  background-image: url(../img/banner1.png);
  background-size: contain;
  background-position: center;
  height: 100%;
}

.banner .banner-img1 {
  background-image: url(../img/banner3.png);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.banner .banner-text .detail-link {
  color: #e5e4e4;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
}

.banner .banner-text .detail-btn {
  margin-right: 20px;
  padding: 10px;
  background: #fd7e14;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.banner .banner-text .detail-link i {
  transition: 0.2s;
}

.banner .banner-text .detail-link:hover {
  color: #fd7e14 !important;
}

.banner .banner-text .detail-link:hover i {
  padding-left: 10px;
}

.banner .banner-footer {
  margin-top: 30px;
}

.banner .banner-footer .btn {
  margin: 5px 2px;
}

/* Menu */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.822);
  z-index: -99999999;
  align-items: center;
  justify-content: center;
  touch-action: none;
  display: flex;
  opacity: 0;
  transition: 0.3s;
}

.menu-container.opened {
  z-index: 9999999999;
  opacity: 1;
}

.menu-container .menu-close {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  font-size: 40px;
  box-shadow: none;
  z-index: 9999999999;
}

.menu-container .menu {
  width: 100%;
  text-align: center;
}

.menu-container .menu .navbar-nav .nav-link {
  color: white;
  position: relative;
}

.menu-container .menu .navbar-nav .nav-item {
  padding: 10px;
  font-size: 18px;
}

.menu-container .menu .nav-link.active:before,
.menu-container .menu .nav-link:hover:before {
  width: 80px;
  background: #fd7e14;
}

.menu-container .menu .nav-link:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 0;
  height: 2px;
  transition: 0.2s;
}

/* Config Link */

.config-link {
  color: inherit !important;
  text-decoration: none !important;
}

.btn-warning {
  background-color: #fd7d14cb !important;
  border-color: #fd7d14cb !important;
  color: white;
}

.btn-warning:hover {
  background-color: #fd7e14 !important;
  border-color: #fd7e14 !important;
  color: white;
}

.btn-outline-warning {
  border-color: #fd7d14e8 !important;
  color: #fd7d14e8;
}

.btn-outline-warning:hover {
  background-color: #fd7e14 !important;
  border-color: #fd7e14 !important;
  color: white;
}
