@media (max-width: 768px) {
  .slider-content {
    max-width: 100% !important;
  }

  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 805px) {
  .footer-item {
    font-size: 14px;
  }

  .footer-item h5 {
    font-size: 1rem !important;
  }
}

@media (max-width: 1024px) {
  .text-container img {
    width: 450px;
  }
}

@media (max-width: 800px) {
  .text-container {
    margin-bottom: 40px !important;
  }

  .text-container img {
    display: none;
  }

  .text-card.left,
  .text-card.right {
    left: 0 !important;
    right: 0 !important;
  }
}

@media (max-width: 560px) {
  .service-card {
    min-height: 320px;
    height: 320px;
  }
}

@media (max-width: 470px) {
  .banner .banner-text {
    max-width: 100% !important;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
  }

  .banner .banner-text h2 {
    font-size: 1.5rem !important;
  }

  .footer {
    padding: 50px 0 0 !important;
  }

  .footer .footer-item {
    margin: 0 0 30px 0;
  }

  .footer .footer-social {
    margin-top: 30px !important;
  }

  .footer .footer-text {
    margin-top: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 100% !important;
  }
}
