.services {
  margin: 70px 0;
}

.services .container-fluid .row .col-md-3 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.services .title {
  text-align: center;
  margin-bottom: 50px;
}

.service-card {
  min-height: 500px;
  height: 500px;
  margin-bottom: 20px;
  padding: 30px;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px -90px 217px -45px rgb(0 0 0 / 65%), 0 10px 25px #00000026;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 300ms;
}

.service-card:hover {
  box-shadow: inset 0px -90px 217px -45px rgba(0, 0, 0, 0.801), 0 10px 25px #00000026;
}

.service-card:hover .detail-text {
  color: #fd7e14;
}

.service-card .card-text {
  position: absolute;
  bottom: 50px;
  color: white;
}

.service-card .card-text .detail-text {
  opacity: 0.8;
  font-size: 16px;
}

.service-card .detail-text i {
  transition: 0.2s;
}

.service-card:hover .detail-text i {
  padding-left: 10px;
}

.service-card .detail-title {
  margin-bottom: 15px;
}

.services .more-services {
  padding: 10px 30px;
  margin: 30px 0;
}

.img-gallery-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000b5;
  transition: 0.2s ease-in-out;
  z-index: 999999;
}

.img-gallery-container.hide {
  visibility: hidden;
  opacity: 0;
}

.img-gallery-container.show {
  visibility: visible;
  opacity: 1;
}

.img-gallery-container .img-center {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-gallery-container .img-card {
  display: inline-block;
  position: relative;
  transition: 0.2s ease-in-out;
  z-index: 999999999999;
}

.img-gallery-container .img-card.hide {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
}

.img-gallery-container .img-card.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.img-gallery-container .img-card .img-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.img-gallery-container .img-card .img-card-footer {
  position: absolute;
  bottom: -55px;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: white;
  opacity: 0.6;
  font-size: 15px;
}

.img-gallery-container .img-card .close-btn {
  font-size: 50px;
  color: white;
  opacity: 0.8;
  padding: 0;
  text-decoration: none;
}

.img-gallery-container .left-right-button {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.img-gallery-container .left-right-button .left,
.img-gallery-container .left-right-button .right {
  font-size: 70px;
  color: white;
  text-shadow: 0 0 5px #000;
  flex: 0 0 40%;
}

.img-gallery-container .left-right-button .left {
  text-align: left;
}

.img-gallery-container .left-right-button .right {
  text-align: right;
}

.img-gallery-container .left-right-button .left:hover i,
.img-gallery-container .left-right-button .right:hover i {
  opacity: 1;
}

.img-gallery-container .left-right-button .left i,
.img-gallery-container .left-right-button .right i {
  opacity: 0;
  transition: 0.4s linear;
}

.navigation-bar {
  margin-top: 10px;
  color: #afafaf;
  font-size: 17px;
}

.navigation-bar a {
  color: #fd7e14;
}

@keyframes scroll {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(-200%);
  }
}
