---
layout: wrapper
---

{% include page-title.html %}

{% assign about1 = site.data.about[0] %}
<!-- {% assign about2 = site.data.about[1] %}
{% assign about3 = site.data.about[2] %} -->

<div class="about">
    <div class="title">
        <h3>Hakkımızda</h3>
        <p>Tecrübeli Ekip, Kaliteli İşçilik</p>
        <div class="hr m-auto"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="text-container">
                    <img src="/assets/img/about/{{about1.img}}" alt="">

                    <div class="text-card left">
                        <h3>{{about1.title}}</h3>
                        <p>{{about1.description}}</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12">
                <div class="text-container">
                    <div class="text-card right">
                        <h3>{{about2.title}}</h3>
                        <p>{{about2.description}}</p>
                    </div>

                    <img src="/assets/img/about/{{about2.img}}" alt="">
                </div>
            </div>

            <div class="col-12">
                <div class="text-container">
                    <img src="/assets/img/about/{{about3.img}}" alt="">

                    <div class="text-card left">
                        <h3>{{about3.title}}</h3>
                        <p>{{about3.description}}</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>