---
layout: wrapper
---

{% include page-title.html %}

<div class="contact">
    <div class="title">
        <h3>İletişim</h3>
        <p>Sizler için burdayız</p>
        <div class="hr m-auto"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-info">
                    <div class="info-item">
                        <h4 class="info-title">
                            <i class="fa fa-map-marker"></i> Adres Bilgileri
                        </h4>
                        <p>
                            {{site.address}}
                        </p>
                    </div>

                    <div class="info-item">
                        <h4 class="info-title">
                            <i class="fa fa-phone"></i> İletişim Bilgileri
                        </h4>
                        <p>
                        <p class="mb-2"><b>Telefon:</b> {{site.phoneLink}}</p>
                        <p class="mb-2"><b>E-Posta:</b> {{site.emailLink}}</p>
                        </p>
                    </div>

                    <div class="info-item">
                        <h4 class="info-title">
                            <i class="fa fa-clock-o"></i> Çalışma Saatleri
                        </h4>
                        <p>
                            {{site.workingHours}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="card">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24094.19648702826!2d29.16777213753746!3d40.98641707106316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacf5e8b02ad3f%3A0xdd09966e40de064!2zTWltYXIgU2luYW4sIMOHZWxlYmkgTWVobWV0IFBhxZ9hIENkIE5vOjQzLCAzNDg4OCBEdWR1bGx1IE9zYi9BdGHFn2VoaXIvxLBzdGFuYnVsLCBUw7xya2l5ZQ!5e0!3m2!1str!2sus!4v1647084822993!5m2!1str!2sus"
                        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>