---
layout: wrapper
---

<div class="bg-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slider-content">
                    <p class="mb-0">{{site.title}}</p>
                    <p>Metal Tasarım İşleri</p>

                    <h1 class="my-5">Her ihtiyaç için özel tasarımlar</h1>
                    <div class="hr"></div>
                    <div class="social">
                        <a href="{{site.facebook}}">
                            <i class='fa fa-facebook-f'></i>
                        </a>
                        <a href="{{site.instagram}}">
                            <i class='fa fa-instagram'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container slider-contact">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-phone contact-icon"></i>
                    <h5 class="card-title">Telefon</h5>
                    <p class="card-text">{{site.phoneLink}}</p>
                    <a href="https://api.whatsapp.com/send?phone=+9{{site.phone}}&text=Merhaba, ücretsiz keşif ve teklif hizmetinizden faydalanmak istiyorum"
                        class="btn btn-outline-warning font-weight-600">
                        Mesaj At
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-envelope contact-icon"></i>
                    <h5 class="card-title">E-Posta</h5>
                    <p class="card-text">{{site.emailLink}}</p>
                    <a href="mailto:{{site.email}}?subject=Ücretsiz teklif ve keşif&body=Merhaba, ücretsiz keşif ve teklif hizmetinizden faydalanmak istiyorum"
                        class="btn btn-outline-warning font-weight-600">
                        Mail Gönder
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-map-marker contact-icon"></i>
                    <h5 class="card-title">Adres</h5>
                    <p class="card-text">{{site.address}}</p>
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sultan+Sanayi+Sitesi/@40.9836232,29.2679603,17z/data=!4m10!1m2!2m1!1sSultan+Sanayi+Sitesi+b+blok+no:+15!3m6!1s0x14cad053957459ff:0x141de8f9f39bcc5d!8m2!3d40.9836232!4d29.2705352!15sCiJTdWx0YW4gU2FuYXlpIFNpdGVzaSBiIGJsb2sgbm86IDE1kgEFc3RvcmXgAQA!16s%2Fg%2F1tgcvdc8?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
                        class="btn btn-outline-warning font-weight-600">
                        Adrese Git
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- services -->

{% assign services = site.data.services | where:"showHomePage", true %}
<div class="services">
    <div class="title">
        <h3>Hizmetlerimiz</h3>
        <p>Tecrübeli Ekip, Kaliteli İşçilik</p>
        <div class="hr m-auto"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            {% for service in services %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="{{service.url}}" title="{{site.title}} | {{service.title}}">
                    <div class="service-card lazy" data-original="assets/img/{{service.imgFolder}}/{{service.img}}"
                        aria-label="{{site.title}} | {{service.title}}">
                        <div class="card-text">
                            <h3 class="detail-title">{{service.title}}</h3>
                            <span class="detail-text">Detaylar <i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="row text-center">
            <div class="col-12">
                <a href="/hizmetlerimiz/" class="btn btn-warning more-services">
                    Daha Fazla Hizmet
                </a>
            </div>
        </div>
    </div>
</div>

<!-- banner -->

<div class="banner">
    <div class="banner-img"></div>
    <div class="banner-text">
        <h2>Sizler için tasarlıyoruz</h2>
        <div class="hr"></div>
        <p>
            Ağca Metal olarak, özel imalat olmak üzere bir çok hizmeti, tecrübeli işçiliğiyle ve kaliteli malzeme
            yapısıyla 2013 yılından bu yana sizlere sunmaktayız.
        </p>

        <div class="banner-footer">
            <a href="/hakkimizda/" class="detail-link">
                Devamını oku <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>

<!-- about -->

<div class="about">
    <div class="title">
        <h3>Biz Kimiz</h3>
        <div class="hr m-auto"></div>
    </div>

    {% assign about = site.data.about | where:"showHomePage", true | first %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>{{about.title}}</h3>
                <div class="hr"></div>
                <p>
                    {{about.description}}
                </p>

                <a href="/hakkimizda/" class="btn btn-warning my-3 shadow-sm">
                    Devamını Oku <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-6 hidden-sm">
                <img class="img-fluid" src="/assets/img/about/{{about.img}}" alt="{{site.title}} | Hakkında">
            </div>
        </div>
    </div>
</div>