---
layout: wrapper
---

{% include page-title.html %}

{% assign data = page.data %}
{% assign items = data.items %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="navigation-bar">
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
                /
                <a href="/hizmetlerimiz">Hizmetlerimiz</a>
                /
                <span>
                    {{page.title}}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="container-fluid">
        <div class="row">
            {% for service in items %}
            <script>
                var _data = {
                    "id": "{{service.id}}",
                    "img": "{{data.imgFolder}}/{{service.img}}",
                    "serviceName": "{{page.header}}"
                };
                _setData(_data);
            </script>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a onclick="imgShow('{{forloop.index}}')" id="service-detail-img" title="{{site.title}} | {{page.title}} | {{page.description}}">
                    <div class="service-card lazy" data-original="/assets/img/{{data.imgFolder}}/{{service.img}}" aria-label="{{site.title}} | {{page.title}} | {{page.description}}">
                        <div class="card-text">
                            <h3 class="detail-title">{{page.title}} {{forloop.index}}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="img-gallery-container hide" onclick="outSideClick(event)">
    <div class="img-center">
        <div class="img-card hide">
            <div class="img-text">
                <h5 id="img-text"></h5>
            </div>

            <div class="left-right-button">
                <button class="btn btn-link left" onclick="prev()">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button class="btn btn-link right" onclick="next()">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>

            <div class="img-card-footer">
                <p id="currentPage" class="m-0"></p>
                <button class="btn btn-link close-btn" onclick="closeImg()">
                    &times;
                </button>
            </div>
            <img id="detail-img" class="img-thumbnail" onerror="imgError()">
        </div>
    </div>
</div>