---
layout: wrapper
---

{% include page-title.html %}

<div class="services">
    <div class="title">
        <h3>Hizmetlerimiz</h3>
        <div class="hr m-auto"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            {% for service in site.data.services %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="{{service.url}}" title="{{site.title}} | {{service.title}}">
                    <div class="service-card lazy" data-original="/assets/img/{{service.imgFolder}}/{{service.img}}" aria-label="{{site.title}} | {{service.title}}">
                        <div class="card-text">
                            <h3 class="detail-title">{{service.title}}</h3>
                            <span class="detail-text">Devamı <i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>