<!DOCTYPE html>
<html lang="tr">

<head>
    {% include head.html %}
</head>

<body onload="splash()">
    {% include menu.html %}
    {{content}}
    {% include banner.html %}
    {% include footer.html %}

    <button class="btn btn-up" onclick="pageUp()">
        <i class="fa fa-angle-up"></i>
    </button>
</body>

</html>